# Verification

## Enum

* [ ] Lazily initialize special methods (normal and set enumerations)