# Verification

## Enum

* [ ] Lazily initialize special methods (normal and set enumerations)
* [ ] `extends_class` defaults to an Unresolved symbol
* [ ] `extends_class` resolves to Object as immediately as possible.